name: Tests

on:
  pull_request:
  push:
    branches:
      - 'main'

concurrency:
  group: build-image-matrix-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true

jobs:
  testing_build_matrix:
    name: ${{ matrix.platform }} - ${{ matrix.base_image }} - ${{ matrix.model || 'generic' }}${{ matrix.trusted_boot && '-uki' || ''}}${{ matrix.variant == 'standard' && ' - ' || '' }} ${{ matrix.kubernetes_provider != '' && matrix.kubernetes_provider || '' }} ${{ matrix.kubernetes_version != '' && matrix.kubernetes_version || '' }}${{ matrix.fips == true && ' - FIPS' || '' }}
    runs-on: ${{ matrix.platform == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ "amd64", "arm64" ]
        base_image: 
         - "ubuntu:20.04"
         - "ubuntu:24.04"
         - "ubuntu:25.10"
         - "debian:12"
         - "debian:13"
         - "fedora:42"
         - "fedora:43"
         - "alpine:3.21"
         - "alpine:3.23"
         - "opensuse/leap:15.6"
         - "opensuse/leap:16"
         - "opensuse/tumbleweed"
         - "rockylinux/rockylinux:9"
         - "rockylinux/rockylinux:10"
         - "almalinux:9"
         - "almalinux:10"
         - "ghcr.io/kairos-io/hadron:v0.0.1-beta6"
         - "ghcr.io/kairos-io/hadron:main"
        include:
          - platform: "amd64"
            base_image: "ubuntu:22.04"
            kubernetes_provider: "k3s"
            kubernetes_version: "v1.32.1+k3s1"
          - platform: "amd64"
            base_image: "ubuntu:22.04"
            kubernetes_provider: "k0s"
            kubernetes_version: "v1.32.1+k0s.0"
          - platform: "amd64"
            base_image: "fedora:41"
            fips: true
          - platform: "amd64"
            base_image: "ubuntu:24.04"
            trusted_boot: "true"
          - platform: "amd64"
            base_image: "ubuntu:25.10"
            trusted_boot: "true"
          - platform: "amd64"
            base_image: "fedora:41"
            trusted_boot: "true"
            fips: false
          - platform: "arm64"
            base_image: "ubuntu:22.04"
            model: "nvidia-jetson-agx-orin"
            fips: false
          - platform: "arm64"
            base_image: "ubuntu:22.04"
            model: "nvidia-jetson-orin-nx"
            fips: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get version for docker build
        run:  echo "VERSION=$(git describe --tags --dirty )" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build the docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.test
          platforms: linux/${{ matrix.platform }}
          push: false
          tags: kairos-${{ matrix.base_image }}
          build-args: |
            BASE_IMAGE=${{ matrix.base_image }}
            PROVIDER_NAME=${{ matrix.kubernetes_provider || '' }}
            PROVIDER_VERSION=${{ matrix.kubernetes_version || '' }}
            VERSION=${{ env.VERSION }}
            FIPS=${{ matrix.fips || false }}
            TRUSTED_BOOT=${{ matrix.trusted_boot || 'false' }}
            MODEL=${{ matrix.model || 'generic' }}
